<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Mohamed Reda Portfolio">
    <meta property="og:description" content="Showcasing projects and skills of Mohamed Reda, Software Engineer.">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../styles.css">
    <title>Mohamed Reda Portfolio</title>
</head>
<body>

  
    <!-- Navigation -->
    <nav>
        <div class="logo">Mohamed Reda</div>
        <div class="nav-links">
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#education">Education</a>
            <a href="#projects">Projects</a>
            <a href="#experience">Experience</a>
            <a href="#certifications">Certifications</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>

    

 <!-- Hero Section -->
<!-- Hero Section -->
<section class="hero" [@fadeIn]>
  <div class="container">
    <div class="hero-content">
      <div class="hero-info">
        <h1 [@slideInLeft]>Mohamed Reda</h1>
        <p [@slideInRight]>Software Engineer & Web Developer</p>
        <button class="cv-button" (click)="downloadCV()">Download CV</button>
      </div>
      <div class="hero-image">
        <img src="gp photo.jpg" alt="Profile Picture"/>
      </div>
    </div>
  </div>
</section>

    <!-- About Section -->
    <section class="about" id="about">
      <h1>About Me</h1>
      <p>I am a software engineer specializing in programming and networks, particularly focusing on React.js development. I recently graduated from Helwan University with a degree in Information Systems, where I dedicated myself to attaining a high level of professionalism in the field. My graduation project, the University Newsline System, simplifies communication across the university community by enhancing transparency, engagement, and information dissemination. This platform, tailored for students, faculty, and administrators, offers diverse features for streamlined communication.

      </p>
  </section>
<!-- Skills Section -->
<section class="skills" id="skills">
  <h1>My Skills</h1>
  <div class="skills-grid">
      <div class="skill-item" *ngFor="let skill of skills">
          <span>          
            <i [ngClass]="skill.icon"></i>
            {{ skill.name }}
          </span>
      </div>
  </div>
</section>

<!-- Education Section -->
<div class="education-section" id="education">
  <h1 style="margin-top: 60px;">Education</h1>
  <div class="education-item">
    <img src="hu.png" alt="Helwan University Logo" class="university-logo" />
    <div class="education-details">
      <h3>{{ education[0].institution }}</h3>
      <p class="degree">{{ education[0].degree }}</p>
      <p class="location">{{ education[0].location }}</p>
      <p class="date">{{ education[0].date }}</p>
      <p class="grade">Grade: {{ education[0].grade }}</p>
      <p class="major">Major: {{ education[0].major }}</p>
      <p class="minor">Minor: {{ education[0].minor }}</p>
    </div>
  </div>
</div>

<!-- Projects Section -->
<section class="projects" id="projects" >
  <h1 [@slideInLeft] style="margin-top: -10px;">My Projects</h1>
  <div class="projects-container">
  <div class="project-item" *ngFor="let project of projects" [@fadeIn]>
     <!-- Slideshow for multiple images -->
     <div class="slideshow-container">
     <img [src]="project.currentImage" alt="Project image" class="slideshow-image"/></div>
    <div class="project-info">
    <h2>{{ project.name }}</h2>
    <p [innerHTML]="project.description"></p>
    <p><strong>Date:</strong> {{ project.date }}</p>
    <a [href]="project.link" target="_blank">View Project</a></div></div></div>

</section>
<section class="experience" id="experience" style="margin-top: -100px;">
  <h1>My Experiences</h1>
  <div class="experience-list">
    <div class="experience-item" *ngFor="let experience of experiences" [@fadeIn]>
      <h2>{{ experience.title }}</h2>
      <h3>{{ experience.company }} - {{ experience.type }}</h3>
      <p><strong>Duration:</strong> {{ experience.duration }}</p>
      <p>{{ experience.description }}</p>
      <ul *ngIf="experience.skills && experience.skills.length > 0">
        <strong>Skills:</strong>
        <li *ngFor="let skill of experience.skills">{{ skill }}</li>
      </ul>
    </div>
  </div>
</section>



<!-- Certifications Section -->

<section class="certifications-section" id="certifications">
  <h1>Certifications</h1>
  <div *ngFor="let cert of certifications" class="certification-item">
    <img [src]="cert.logo" alt="{{ cert.issuer }} Logo" class="certification-logo" />
    <div class="certification-details">
      <h3 class="certification-title">{{ cert.title }}</h3>
      <p class="certification-issuer">{{ cert.issuer }}</p>
      <p class="certification-issued-date">Issued: {{ cert.issuedDate }}</p>
      <p *ngIf="cert.skills" class="certification-skills">Skills: {{ cert.skills.join(', ') }}</p>
    </div>
  </div>
</section>


<!-- Contact Section -->
<section class="contact" id="contact">
  <h1>Contact Me</h1>
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <input type="text" name="name" ngModel placeholder="Your Name" aria-label="Your Name" required>
    <input type="email" name="email" ngModel placeholder="Your Email" aria-label="Your Email" required>
    <textarea name="message" ngModel placeholder="Your Message" aria-label="Your Message" required></textarea>
    <button type="submit" [disabled]="!contactForm.valid">Send</button>
  </form>
</section>


<!-- Footer -->
<footer>
  <div class="social-links">
    <a href="https://github.com/mohamedreda22" target="_blank" aria-label="GitHub Profile">
      <img src="github.png" class="icon"/>
    </a>
    <a href="https://www.linkedin.com/in/swe-mohamed-reda/" target="_blank" aria-label="LinkedIn Profile">
      <img src="linkedin.png" class="icon"/>
    </a>
    <a href="mailto:mohamedreda.dev@gmail.com?subject=Contact%20from%20Website&body=Hello%20Mohamed%2C%0D%0A">
      <img src="gmail.jpg" class="icon" alt="Email Icon"/>
    </a>
        <!-- Add WhatsApp link -->
        <a href="https://wa.me/201155921429" target="_blank" aria-label="WhatsApp">
          <img src="whatsapp.png" class="icon" alt="WhatsApp Icon"/>
        </a>
  </div>
  <p>&copy; 2025 Mohamed Reda. All rights reserved.</p>
</footer>


</body>
</html>
